{% extends "base.html" %}

{% block title %}My Porifle{% endblock %}

{% block content %}
<section class="container">
    <section class="prof-info">
        <div class="ph-div">
            <img src={{profile.images[1].url}} width="{{profile.images[1].width}}" height="{{profile.images[1].height}}">
            <h5>{{profile.display_name}}</h5>
        </div>
        <div class="name-div">
            <h1>ID: {{profile.id}}</h1>
            <h1>Email: {{profile.email}}</h1>
            <h1>Product: {{profile.product}}</h1>
        </div>
    </section>
    <form id="range-form" action="/me" method="get">
        <button type="submit" value="in last 4 weeks" name="time_arg">Last 4 weeks</button>
        <button type="submit" value="in last 6 months" name="time_arg">Last 6 Months</button>
        <button type="submit" value="of all time" name="time_arg">All time</button>
    </form>
    <section class="top-items">
            <div class="top-sec">
                <h5>Your top 5 artists {{time_period}}</h5>
                {% for artist in artists %}
                    <a href="{{artist.external_urls['spotify']}}"><div class="top-card">
                        <img src="{{artist.images[1].url}}" class="top-img">
                        <p>
                            <span>{{artist.name}}</span>
                            <span id="top-s">{{artist.genres[0]}}</span>
                        </p> 
                    </div>
                    </a>
                {% endfor %}
            </div>
            <div class="top-sec">
                <h5>Your top 5 artists {{ time_period }}</h5>
                {% for track in tracks %}
                    <a href="{{track.external_urls['spotify']}}"><div class="top-card">
                        <img src="{{track['album']['images'][1].url}}" class="top-img">
                        <p>
                            <span>{{track.name}}</span>
                            <span id="top-s">{% for artist in track['artists'] %}
                                {{artist['name']}}
                            {% endfor %}</span>
                        </p>
                        
                    </div>
                    </a>
                {% endfor %}
            </div>
        </div>

    </section>
</section>
{% endblock %}