{% extends "base.html" %}

{% block title %}My Playlists{% endblock title %}

{% block content %}
    <section class="container">
        <article id="play-sec">
            <span>Your Playlists</span>
            <div class="pl-cont">
                    {% for playlist in playlists %}
                        <a class="play-link" href="{{playlist.external_urls['spotify']}}">
                        <div id="p-card">
                            <img src="{{playlist.images[0].url}}" class="pl-img">
                            <div class="p-txt">
                                <h2>{{playlist.name}}</h2>
                                <span id="top-s">{{playlist.owner['display_name']}}</span>
                            </div> 
                        </div>
                        </a>
                    {% endfor %}
            </div>
        </article>
    </section>
{% endblock content %}