

#navv{
    display: flex;
    width: 70%;
}
.menu{
    margin-left: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap:3rem;
    list-style: none;
    margin-bottom: 4rem;
}
.menu a{
  font-size: 2vw;
  margin-top: 1rem;
  padding: 2rem;
  text-shadow: 0px 0px 6px rgb(158, 157, 157);
  border-radius: 12px;
  border: 2px solid transparent;
}
.menu a:hover{
  padding: 2rem;
  text-shadow: 0px 0px 6px rgb(158, 157, 157);
  animation: border-frame 0.4s forwards;
}

#x {
  position: absolute;
  right: 3.4rem;
  top: 1.9rem;
  text-decoration: none;
  color: black;
  font-size: 6rem;
  cursor: pointer;
}

#burger {
    position: fixed;
    display: none;
    background-color: transparent;
    right: 2rem;
    top: 2rem;
    font-size: 4rem;
    cursor: pointer;
    padding: 1rem 1.3rem;
    border-radius: 1rem;
    background: rgba( 97, 202, 97, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 1;
  }

.resp-menu{
  list-style: none;
}
#resp-nav{
    position: fixed;
    background: rgba( 97, 202, 97, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    height: 100%;
    width: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s ease;
}


#resp-nav ul {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  text-align: center;
  padding: 0;
}

#resp-nav ul a {
  text-decoration: none;
  color: black;
  font-size: 5vw;
  font-weight: 700;
  display: block;
  padding: 2rem 20vw;
  border-radius: 1rem;
}

#resp-nav ul a:hover {
  animation: border-frame 0.1s forwards;
}



@keyframes border-frame {
  0% {
    border-color: rgb(158, 157, 157);
    backdrop-filter: blur(0px);
    color: rgb(158, 157, 157);
    box-shadow: 0px 0px 0px 0px #5add63;
    background-color: black;
  }
  100% {
    border-color: rgb(158, 157, 157);
    backdrop-filter: blur(12px);
    color: rgb(158, 157, 157);
    box-shadow: 0px 0px 31px 4px #5add63;
    background-color: black;
  }
}



@media all and (max-width: 1040px) {
    #navv {
      display: none;
    }
  
    #burger {
      display: block;
    }

}