<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}    {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>
<body>
    <nav id="navv">
        <ul class="menu">
                <a href="{{url_for('main.index')}}"><li>Home</li></a>
            {% if session['access_token'] %}
                <a href="{{url_for('profile.user_profile')}}"><li>Profile</li></a>
                <a href="{{url_for('profile.my_playlists')}}"><li>My Playlists</li></a>
                <a href="{{url_for('auth.logout')}}"><li>Logout</li></a>
            {% else %}
                <a href="{{url_for('auth.login')}}"><li>Login</li></a>
            {% endif %}
        </ul>
    </nav>

    
    <span id="burger" onclick=openMenu()>
        &#9776;
    </span>
    <nav id="resp-nav">
        <a id="x" onclick=closeMenu()>
            &times;
        </a>
        <ul class="resp-menu">
                <a href="{{url_for('main.index')}}"><li>Home</li></a>
            {% if session['access_token'] %}
                <a href="{{url_for('profile.user_profile')}}"><li>Profile</li></a>
                <a href="{{url_for('profile.my_playlists')}}"><li>My Playlists</li></a>
                <a href="{{url_for('auth.logout')}}"><li>Logout</li></a>
            {% else %}
                <a href="{{url_for('auth.login')}}"><li>Login</li></a>
            {% endif %}
        </ul>
    </nav>
    {% block content %}

    {% endblock %}


</body>
</html>