{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<section class="container">
    <p>SPOTIFY_DASHBOARD</p>
    <section class="col-content">
        <article class="ttl">
            <span>Welcome to our website! It allows you to check informations about your spotify account!</span>
            {% if session['access_token'] %}
        </article>

        <article class="s-stats">
            <span> About our visitors </span>
            <p>Total number of users: <strong>{{user_count}}</strong></p>
            <p>Average number of each user followers in our service: <strong>{{follows_average}}</strong></p>
        </article>
    </section>
    <article>
            <a href="{{url_for('profile.user_profile')}}">Take a look at your profile...</a>
            {% else %}
            <a href="{{url_for('auth.login')}}">Login to get started!</a>
            {% endif %}
    </article>
</section>

{% endblock %}